<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Learning_Courses_2.Properties.Settings.p1g8ConnectionString"
            connectionString="Data Source=tcp:mednat.ieeta.pt\SQLSERVER,8101;Initial Catalog=p1g8;User ID=p1g8;Password=Bd2022ua"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>